.row {
    display: block;
    width: 100%;
    @mixin clearfix;
}

.col {
    float: left;
    margin-bottom: 10px;
    width: 100%;

    &-xs {
        @mixin atXSmall {
            &-6 {
                width: 50%;
            }

            &-4 {
                margin: 10px;
                width: calc(33% - 20px);
            }
        }
    }

    &-sm {
        @mixin atMedium {
            &-6 {
                width: 50%;
            }

            &-4 {
                width: 33%;
            }
        }
    }

    &-md {
        @mixin atLarge {
            &-6 {
                width: 50%;
            }

            &-4 {
                width: 33%;
            }
        }
    }
}
