.navbar {
    /* styling */
    color: $white;
    font-family: 'Quicksand', sans-serif;
    /* navbar size */
    height: 50px;
    width: 100%;
    /* fix navbar */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    /* navbar animation */
    transition: all .5s ease-out;
    @mixin clearfix;


    /* navbar height when mobile menu is extended */
    &--is-extended {
        height: 210px;

        /* shrink height back to normal in larger screens */
        @mixin atSmall {
            height: 50px;
        }
    }

    /* navbars menu */
    &__menu {
        /* visabillity */
        opacity: 0;
        visibility: collapse;
        /* opacity animation */
        transition: opacity 1s ease-in-out;

        /* on larger screens show not collapsed navbar */
        @mixin atSmall {
            /* visabillity */
            opacity: 1;
            visibility: visible;
            /* position */
            text-align: Left;
        }


        /* extend menu */
        &--is-visible {
            opacity: 1;
            visibility: visible;
        }
    }

    &__link {
        display: block;
        /* spacing */
        padding-bottom: 10px;
        margin: 0;
        /* font style */
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 0.5px;
        font-size: 1.2rem;
        text-align: center;

        /* on larder screens */
        @mixin atSmall {
            /* display links inline */
            display: inline;
            /* seperate links from each other */
            margin-left: 15px;
        }

        &:hover,
        &--active {
            color: $orange;
        }
    }


    /* menu icon on mobile devices */
    &__menu-icon {
        /* position */
        display: block;
        position: relative;
        top: 10px;
        left: 10px;
        /* spacing */
        margin-top: 5px;
        /* icon size */
        height: 19px;
        width: 20px;

        /* hide on larger screens */
        @mixin atSmall {
            display: none;
        }

        /* Hamburger menu icon */
        /* top line */
        &::before {
            /* position */
            position: absolute;
            top: 0;
            left: 0;
            /* size */
            width: 20px;
            height: 3px;
            /* filling */
            content: "";
            background-color: $white;
            /* menu animation */
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        /* middle line */
        &__middle {
            /* position */
            position: absolute;
            top: 8px;
            left: 0;
            /* size */
            width: 20px;
            height: 3px;
            /* filling */
            background-color: $white;
            /* menu animation */
            transform-origin: 0 50%;
            transition: all .3s ease-out;
        }

        /* bottom line */
        &::after {
            /* position */
            position: absolute;
            bottom: 0;
            left: 0;
            /* size */
            width: 20px;
            height: 3px;
            /* filling */
            content: "";
            background-color: $white;
            /* menu animation */
            transform-origin: 0 100%;
            transition: all .3s ease-out;
        }

        /* transfer menu icon to X when extended */
        &--close-x {

            /* top line */
            &::before {
                transform: rotate(45deg) scaleX(1.23);
            }

            /* middle line */
            .navbar__menu-icon__middle {
                opacity: 0;
                transform: scaleX(0);
            }

            /* bottom line */
            &::after {
                transform: rotate(-45deg) scaleX(1.23) translateX(-0.5px);
            }
        }

    }
}

#day-time {
    /* position */
    position: absolute;
    right: 10px;
    top: 10px;
    /* size */
    width: 60px;
    height: 30px;
    /* border */
    border: 1px solid $dark;
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba($light, 0.2);
    /* animation */
    transition: all 1s linear;
    overflow: hidden;

    &:hover {
        cursor: pointer;

        & span {
            &:nth-of-type(2) {
                animation: float 2s linear infinite;
            }

            &:nth-of-type(3) {
                animation: float 2s linear infinite;
            }
        }
    }

    & span {
        /* position */
        position: absolute;
        /* animation */
        transition: all 1s ease-in-out;

        &:nth-of-type(1) {
            /* position */
            top: 5px;
            left: 5px;
            /* size */
            width: 18px;
            height: 18px;
            /* shape */
            border-radius: 50%;
            /* animation */
            transform-origin: 20px 20px;
            transition: all 1s ease-in-out;

            &:after {
                /* display */
                display: block;
                content: "";
                /* size */
                width: 18px;
                height: 18px;
                /* shape */
                border-radius: 50%;
                /* animation */
                transition: all 1s linear;
            }
        }

        &:nth-of-type(2) {
            top: 0;
            left: 27px;

        }

        &:nth-of-type(3) {
            bottom: 0;
            right: 5px;

        }
    }

    &.day,
    &.day:active {
        /* background */
        background-color: $light;
        color: $white;

        & span {

            &:nth-of-type(1) {
                background-color: $orange;
                animation: sun-pulse 2s linear infinite;

                &:after {
                    margin-left: 20px;
                    background-color: $light;
                }
            }

            &:nth-of-type(2) {
                transform: translateX(0);
            }

            &:nth-of-type(3) {
                transform: translateX(0);
            }
        }
    }

    &.night,
    &.night:active {
        /* background */
        background-color: $dark;

        & span {

            &:nth-of-type(1) {
                background-color: $white;
                animation: moon-pulse 2s linear infinite;

                &:after {
                    margin-left: 5px;
                    background-color: $dark;
                }
            }

            &:nth-of-type(2) {
                transform: translateX(10px);
            }

            &:nth-of-type(3) {
                transform: translateX(-15px);
            }
        }
    }
}

@keyframes float {

    0%,
    50%,
    100% {
        margin: 0;
    }

    25% {
        margin: 0 1px;
    }

    75% {
        margin: 0 -1px;
    }
}

@keyframes sun-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($orange, 0.4);
    }

    60% {
        box-shadow: 0 0 0 10px rgba($orange, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba($orange, 0);
    }
}

@keyframes moon-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($white, 0.4);
    }

    50% {
        box-shadow: 0 0 0 3px rgba($white, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba($white, 0);
    }
}



.hidden {
    display: none !important;
}
