.reveal {

    & hr {
        animation: grow .8s linear;
        max-width: 100%;

    }

    & img {
        visibility: hidden;
        transform: scale(0);
    }

    & h3 span {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
    }
}

.hide {
    &-xs{
        display: none;
        @mixin atXSmall {
            display: block;
        }
    }
}

.animate {

    & img {
        visibility: visible;
        transform: scale(1);
        transition: all .8s linear;

        &:nth-of-type(1) {
            transition-delay: 0s;
        }

        &:nth-of-type(2) {
            transition-delay: 1s;
        }

        &:nth-of-type(3) {
            transition-delay: 2s;
        }

        @mixin atXSmall {
            &:nth-of-type(n) {
                transition-delay: 0s;
            }
        }
    }

    & span:nth-of-type(1) {
        animation: grow 3.5s steps(40, end);
    }
}

@keyframes grow {
    from {
        max-width: 0
    }

    to {
        max-width: 100%
    }
}
