.separator {
    display: block;
    background: 0 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    fill: inherit;

    &.big-triangle {
        bottom: 0;
        min-height: 200px;
    }

    &.triangle {
        top: -5px;
        fill: $white;
    }

    &.wave-single {
        top: -200px;
        z-index: 3;
    }

    &-top {
        margin-top: 200px;
    }
}
