.separator {
    display: block;
    background: 0 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;

    &.wave {
        fill: inherit;

        & .large {
            opacity: .5;
        }

        & .small {
            opacity: .3;
        }

    }
}
