.thumbnail {
    /* position */
    position: relative;
    /* size */
    transform: scale(0.30);
    transform-origin: 0 0;

    &-container {
        /* pointer */
        cursor: pointer;
        /* position */
        position: relative;
        display: inline-block;
        /* size */
        height: 30vh;
        width: 30vw;
        max-width: calc(1200px*0.3);

        /* add padding at larger screens */
        @mixin atMedium {
            margin: 1vw;
        }
    }

    & iframe {
        /* no clickable */
        pointer-events: none;
        /* border */
        border: 3px solid;
        /* position */
        position: absolute;
        top: 0;
        left: 0;
        /* size */
        width: 100vw;
        max-width: 1200px;
        height: 100vh;
    }
}
